body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  background:url(../img/scroll.jpg) no-repeat;
  background-size: 100%;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

#main p{
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  width: 200px;
}

#main {
    background:url(../img/heart) no-repeat;
    background-size: 100% 100%;
}

.button_1{
  height:38px;
  background:#ff0084;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#ff0084;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ff002f 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.container .link {
  color:#ff0084;
}

/* Showcase */
#showcase{
  min-height:400px;
  background:url('../img/scroll.jpg') no-repeat center; 
  text-align:center;
  color:#000 ;
  font-weight: bold;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase #par{
  text-align: center;
}
#showcase p{
  font-size:20px;
  text-align: left;
}

/* Newsletter */
#newsletter, #newsletter_s, #newsletter_h{
  padding:15px;
  color:#ffffff;
  background:#ff002f;
  border-top: #ff0084 5px solid;
}

#newsletter h1, #newsletter_s h1, #newsletter_h h1{
  float:left;
}

#newsletter form, #newsletter_s form, #newsletter_h form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"], #newsletter_s input[type="email"], #newsletter_h input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
} 
#newsletter_h{
  position:relative;
  bottom: 0;
}
#newsletter_s {
  position: fixed;
  margin:auto;
  bottom: 0;
  width: 100%;
}

/* Search Page */
.searchpg{
  color:#000;
  text-decoration: underline;
}

.area {
  margin-top: 10px;
}

textarea{
  resize: none; 
}

#title button{
  margin: auto;
  position: relative;
  left: 0;
}

#cont{
  position: relative;
  margin-top:100px;
  text-align:center;
  color:#000000;
}
/* Boxes */
#boxes{
  margin-top:0;
  background: #fff;
}

#boxes .box{
  float:left;
  text-align: center;
  width:47%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/*Contact Page*/
#shout {
  font: 22px bold;
}
#invite{
  font-size: 20px;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form, 
  #newsletter_s h1,
  #newsletter_s form, 
  #newsletter_h h1,
  #newsletter_h form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
  
  #cont .page-title{
    display: none;
  }
    body{
    background:url(../img/scroll.jpg) 100vw 100vh;
    }

    #boxes{
      background: #fff;
      margin-top: 0px;
    }

  #title{
    margin-top: 50px;
  }
}

@media (min-width: 375px) and (max-width: 767px){
  #main-sub{
    position: relative;
    top: -40px;
  }

  #main p{
    font-size: 16px
  }

 #main {
    background:url(../img/heart);
  }
  
  #newsletter_s {
       transform: scale(1, .5) translate(-5%,50%);
    }

    #newsletter_s button, .quote button{  
    display:inline;
    width:88%;
  }

  #newsletter_h button, .quote button{
    display:inline;
    width:95%;
  }
}

  @media (min-width: 319px) and (max-width: 374px){
    #cont{
      position: relative;
      top: -60px;
    }
      #main-sub{
      transform: scale(1, .5) translateY(-20%);
    }

    #main p {
      font-size: 14px
    }

   #main {
    background:url(../img/heart);
  }

      #newsletter_s {
        transform: scale(1, .5) translate(-5%,50%);
    }

    #newsletter_s button, .quote button{  
    display:inline;
    width:88%;
  }

  #newsletter_h button, .quote button{
    display:inline;
    width:95%;
  }
  }
}